/*NAV*/
.navClass{
    background-image: url('https://lh3.googleusercontent.com/u/0/d/1Y0TFXPwOWvFtu8HH1gVqx_DRt569pxPc=w1366-h355-iv1');
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

/*HOME*/
.jmb-home{
    background-image: url('https://lh3.googleusercontent.com/fife/ABSRlIpbsV4AaUQ7jUBD2WU4JXtsCOTc8YAAxMtqb7L18ukO3rq4ISjL_ihlAmxAeUvk2mOabDKw5fb8NCYSaL1Lzxh0s3tmwxLXr8zf7Xktt5pd35BQwyuSKa1at5tL3TSXb8amxKdnIVpXJdRQWCAbaXR3QMNuUbJjxwEicc7DXC0oxXZ4Uad0_DeZLvN3Ljzro2UpTedMawrRISvdpEeA2wynxEYQ0hqTlNk9M1u-0LCmyh92968xCwgOrv1we1acUNHsVGv_WomjxBGs1Rl_HJqQxlGWoIwufI7yXlNMFBBoEdeAzUke9-vQ7UnoHCByXwoZQmBmyN7-OFCP-hmF2jbSI7Ac0wvmjk0UmmOPkJpD0nEv2kjoK9oheQcN70MfY_JufHx_YFnLBPFp8F3AzNAI0fuVOjZMoNuRGCA0WEwK5EQLzQGAT8mfXjMM2RwLiQ5M0e2XUWj3_UXQBRnkLmA8TB6EaYS_fjwZQueYcCE-NLB-MiB8Lr2PdGtcKSVFAHUK-AkL0o4WJFJ8o4bwsJzQLypmFDBX3JRm1-wQR7zTb0c6dDWqD-7mTV2ONYt8wW0gg9uiaOA4EgQt7PfqqRner8nVn3xqENjXwyjp-_OoWhPzRVoc4BHGID9LbipHU0zKKUaLJZZmDuJmKUzq4uljV00JsHaefFs-J1ncEfgw_ywxUjvR2IkSv7Dc9FFqNUiHi7dKHRjE4zk2_PPasoxEDkKYRSFV2UQ=w1366-h251-ft'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 155px;
    width: 200px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.row-home{
    display: inline-flex;
}

#cardsStyle{
    margin-top:30px; 
    height:720px;  
    background-color:#ffe4ec;
}

#maxWidth1600{
    max-width: 1600px;
}

.centerImageHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: red 5px dotted;
    margin-bottom:5%;
}

#dropDownCard{
    width:500px; border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 1px solid #000000;
    background-color:#ffe4ec;
}

.styleImageJumHome{
    width:400px; 
    height:300px; 
    margin-left: auto; 
    margin-right: auto; 
    display:block;
}

#imgCardType{
    width:90px; 
    height:60px; 
    margin-left:-3%; 
    margin-right:3%
}


.notFoundImageCard{
    background-image: url(IMG_NOMOVIEIMG); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 5000px;
    width: 100% !important;
}

@media screen and (max-width:690px) {
    /*NAV*/
    .navbar-nav{
        display: -webkit-inline-box !important;
    }

    .homeButton{
        display: none ;
    }

    /*HOME*/
    .row-home{
        display: block !important;
    }
    
    #cardsStyle {
        height: 750px;
        width: 300px;
        padding:20px
    } 

    #maxWidth1600{
        max-width: 350px;
        margin-left: auto;
    }

}

@media screen and (min-width: 691px) and (max-width:1099px) {
    /*NAV*/
    
    .navbar-nav{
        display: -webkit-inline-box !important; 
    }

    /*HOME*/
    .row-home{
        display: block !important;
    }   

    #cardsStyle {
        height: 1150px;
        width: 600px;
        padding:20px
    } 
    #maxWidth1600{
        max-width: 600px;
        margin-left: auto;
    }
}


