/*NAV*/
.navClass{
    background-image: url('../img/nav.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

/*HOME*/
.jmb-home{
    background-image: url('../img/MoviePass-noBgW.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 155px;
    width: 200px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.row-home{
    display: inline-flex;
}

#cardsStyle{
    margin-top:30px; 
    height:720px;  
    background-color:#ffe4ec;
}

#maxWidth1600{
    max-width: 1600px;
}

.centerImageHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: red 5px dotted;
    margin-bottom:5%;
}

#dropDownCard{
    width:500px; border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 1px solid #000000;
    background-color:#ffe4ec;
}

.styleImageJumHome{
    width:400px; 
    height:300px; 
    margin-left: auto; 
    margin-right: auto; 
    display:block;
}

#imgCardType{
    width:90px; 
    height:60px; 
    margin-left:-3%; 
    margin-right:3%
}


.notFoundImageCard{
    background-image: url('../img/nomovies.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 5000px;
    width: 100% !important;
    
}

@media screen and (max-width:690px) {
    /*NAV*/
    .navbar-nav{
        display: -webkit-inline-box !important;
    }

    .homeButton{
        display: none ;
    }

    /*HOME*/
    .row-home{
        display: block !important;
    }
    
    #cardsStyle {
        height: 750px;
        width: 300px;
        padding:20px
    } 

    #maxWidth1600{
        max-width: 350px;
        margin-left: auto;
    }

}

@media screen and (min-width: 691px) and (max-width:1099px) {
    /*NAV*/
    
    .navbar-nav{
        display: -webkit-inline-box !important; 
    }

    /*HOME*/
    .row-home{
        display: block !important;
    }   

    #cardsStyle {
        height: 1150px;
        width: 600px;
        padding:20px
    } 
    #maxWidth1600{
        max-width: 600px;
        margin-left: auto;
    }
}


@media screen and (min-width: 1100px) and (max-width:1300px) {

}