/*GENERAL*/
body {
    background: linear-gradient(to bottom, black, #6A0000);
    background-attachment: fixed;
    background-image: url('../img/homeBg.jpeg');
    background-size: cover;
}      

/*Pagination*/
@media screen and (max-width:690px) {
    .pagination{
        display: grid !important;
    }
}

/*SelecrtRoomForShow card*/
@media screen and (max-width:515px) {
    .card-room-resp{
        margin: 2% !important;
    }
}

/*Others*/
.btn-resp-general{
    max-width: 100px !important;
}

.btn-resp-list{
    margin-top: 1em !important;
}



.liStyleNone{
    list-style: none;
}

.liStylePadding-l-70{
    list-style: none;
}

.p-ml-10{
    margin-left:10%;
}

.marginl30{
    margin-left:30%
}

.backgroundBlack{
    background-color: black; 
}

.marginTop100{
    padding-top: 1%;
    margin-top:0;
}

#marginRight10{
    margin-right:10px;
}

.marginTop2{
    margin-top: 2px;
}

.buttonList{
    text-align:left; 
    border: none; 
    background: none;
}

.panelOwner{
    width: 50%;
    margin:10px;
}

#noMovieImg{
    width:1000px; 
    display:block;
    margin:auto;
}

.fontWeight{
    font-size: 30px;
}

#notFoundImageCard{
    height:73%; 
}

#notFoundImageCardDB{
    height:60%; 
}

