/*GENERAL*/
body {
    background: linear-gradient(to bottom, black, #6A0000);
    background-attachment: fixed;
    background-image: url('../img/homeBg.jpeg');
    background-size: cover;
}      

/*Pagination*/
@media screen and (max-width:690px) {
    .pagination{
        display: grid !important;
    }
}

/*SelectRoomForShow card*/
@media screen and (max-width:515px) {
    .card-room-resp{
        margin: 2% !important;
    }
}

/*Not found userView*/
.notFoundImageHistory{
    background-image: url('../img/carrito.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px !important;
}

/*Error*/
.error-width{
    background-color: #000000; 
    height: 100%; 
    width: 100%;
}

.error-padding{
    text-align:center; 
    padding-top: 6%;
}

.error-p{
    font-size:5vw; 
    color: white;
}

.error-p-align{
    font-size:2vw; 
    color: white; 
    text-align:center;
}

/*Others*/
.btn-resp-general{
    max-width: 100px !important;
}

.btn-resp-list{
    margin-top: 1em !important;
}





.liStyleNone{
    list-style: none;
}

.liStylePadding-l-70{
    list-style: none;
}

.p-ml-10{
    margin-left:10%;
}

.marginl30{
    margin-left:30%
}

.backgroundBlack{
    background-color: black; 
}

.marginTop100{
    padding-top: 1%;
    margin-top:0;
}

#marginRight10{
    margin-right:10px;
}

.marginTop2{
    margin-top: 2px;
}

.buttonList{
    text-align:left; 
    border: none; 
    background: none;
}

.panelOwner{
    width: 50%;
    margin:10px;
}

#noMovieImg{
    width:1000px; 
    display:block;
    margin:auto;
}

.fontWeight{
    font-size: 30px;
}

.notFoundImageCardDB{
    margin-top: 40%;
    background-image: url('../img/nomovies.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 40%;
    width: 100% !important;
}

.notFoundImageShow{
    background-image: url('../img/nomovies.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 100% !important;
}

